<!-- Nifty and Infy -->
<div class="row bg-theme-light mb-4">
    <div class="col py-3">
        <div class="row no-gutters">
            <div class="col">
                <p class="mb-0">
                    <span class="text-uppercase">NIFTY</span> <i class="text-success bi bi-arrow-up"></i>
                    <br>
                    <small><span class="text-success">(+0.84)</span> <span class="text-muted">12000</span></small>
                </p>
            </div>
            <div class="col-auto ps-0 align-self-center">
            </div>
        </div>
    </div>
    <div class="col py-3">
        <div class="row no-gutters">
            <div class="col">
                <p class="mb-0">
                    <span class="text-uppercase">INFYS</span> <i class="text-danger bi-arrow-down"></i>
                    <br>
                    <small><span class="text-danger">(-0.84)</span> <span class="text-muted">12000</span></small>
                </p>
            </div>
            <div class="col-auto ps-0 align-self-center">
            </div>
        </div>
    </div>
</div>

<!-- categories -->
<div class="row mb-2">
    <div class="col-12 px-0">
        <swiper class="tagsswiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="tag active">Latest</div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="tag ">Trending</div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="tag ">Movies</div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="tag ">Sport</div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="tag ">Business</div>
            </ng-template>
        </swiper>
    </div>
</div>
<!-- categories -->
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card mb-4 overflow-hidden shadow-sm bg-primary text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news1.jpg');">
                <img src="assets/img/news1.jpg" alt="" class="d-none">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col align-self-center">
                        <span class="tag">Trending</span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-share"></i>
                        </button>
                        <button class="btn btn-success text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-bookmark"></i>
                        </button>
                    </div>
                </div>
                <br>
                <a routerLink="/blogdetails" class="h4 text-normal d-block text-white mb-2">Best Discovery
                    ever in UX</a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                    conv allis.</p>
                <div class="small">
                    <figure class="avatar avatar-20 rounded mx-1">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    Alessia Monks
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card mb-4 overflow-hidden shadow-sm bg-primary text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-5"  style="background-image: url('assets/img/news3.jpg');">
                <img src="assets/img/news3.jpg" alt="" class="d-none">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col align-self-center">
                        <span class="tag">Trending</span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-share"></i>
                        </button>
                        <button class="btn btn-success text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-bookmark"></i>
                        </button>
                    </div>
                </div>
                <br>
                <a routerLink="/blogdetails" class="h4 text-normal d-block text-white mb-2">Best Discovery
                    ever in UX</a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                    conv allis.</p>
                <div class="small">
                    <figure class="avatar avatar-20 rounded mx-1">
                        <img src="assets/img/user3.jpg" alt="">
                    </figure>
                    Jason Mandla
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news5.jpg');">
                        <img src="assets/img/news5.jpg" alt="" class="d-none">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a routerLink="/blogdetails" class="h5 d-block text-normal mb-2">Maxartkiller has awesome
                    templae
                    to start</a>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a routerLink="/blogdetails" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news1.jpg');">
                        <img src="assets/img/news1.jpg" alt="" class="d-none">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a routerLink="/blogdetails" class="h5 d-block text-normal mb-2">For the people by people
                    Best
                    Mobile template is here</a>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a routerLink="/blogdetails" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news3.jpg');">
                        <img src="assets/img/news3.jpg" alt="" class="d-none">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a routerLink="/blogdetails" class="h5 d-block text-normal mb-2">Maxartkiller has awesome
                    templae
                    to start</a>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a routerLink="/blogdetails" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0"  style="background-image: url('assets/img/news4.jpg');">
                        <img src="assets/img/news4.jpg" alt="" class="d-none">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a routerLink="/blogdetails" class="h5 d-block text-normal mb-2">For the people by people
                    Best
                    Mobile template is here</a>
                <p class="small text-muted">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a routerLink="/blogdetails" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>