<!-- service provider -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Popular service provider</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper users connections -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/gas.svg" alt="" class="w-10 vm" />
                        </div>
                        <p class="text-color-theme size-12 small">Gas</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-lightning-charge"></i>
                        </div>
                        <p class="text-color-theme size-12 small">Electricity</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <p class="text-color-theme size-12 small">Creditcard</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-cast"></i>
                        </div>
                        <p class="text-color-theme size-12 small">DTH</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-tv"></i>
                        </div>
                        <p class="text-color-theme size-12 small">TV</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/gas.svg" alt="" class="w-10 vm" />
                        </div>
                        <p class="text-color-theme size-12 small">Gas</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-lightning-charge"></i>
                        </div>
                        <p class="text-color-theme size-12 small">Electricity</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-credit-card"></i>
                        </div>
                        <p class="text-color-theme size-12 small">Creditcard</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-cast"></i>
                        </div>
                        <p class="text-color-theme size-12 small">DTH</p>
                    </div>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a routerLink="/sendmoney3" class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <i class="bi bi-tv"></i>
                        </div>
                        <p class="text-color-theme size-12 small">TV</p>
                    </div>
                </a>
            </ng-template>
        </swiper>
    </div>
</div>

<!-- service provider -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Upcomming Payments</h6>
    </div>
    <div class="col-auto">
        <a routerLink="/" class="small">Add Service</a>
    </div>
</div>
<div class="row mb-1">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-danger text-white">
                            <i class="bi bi-phone vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">xxxxx88154</span>
                            <span class="text-muted ">Recharge Expiring</span>
                        </p>
                        <p>50 $ <small class="size-12 text-muted">3 Days remaining</small></p>
                    </div>
                    <div class="col-auto">
                        <button routerLink="/sendmoney3" class="btn btn-default btn-44 shadow-sm">
                            <i class="bi bi-arrow-up-right-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-info text-white">
                            <i class="bi bi-moisture vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">Water Bill</span>
                            <span class="text-muted ">Upcoming payment</span>
                        </p>
                        <p>NA <small class="size-12 text-muted">13 Days remaining</small></p>
                    </div>
                    <div class="col-auto">
                        <button routerLink="/sendmoney3" class="btn btn-default btn-44 shadow-sm">
                            <i class="bi bi-arrow-up-right-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 bg-warning text-white">
                            <i class="bi bi-lightning-charge vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">Electricity
                                Bill</span> <span class="text-muted ">Pending payment</span></p>
                        <p>550 $ <small class="size-12 text-muted">3 Days Overdue</small></p>
                    </div>
                    <div class="col-auto">
                        <button routerLink="/sendmoney3" class="btn btn-default btn-44 shadow-sm">
                            <i class="bi bi-arrow-up-right-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10 theme-bg text-white">
                            <i class="bi bi-house vm"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 size-12"><span class="text-color-theme fw-medium">Home Loan
                                EMI</span> <span class="text-muted ">Auto</span></p>
                        <p>3510$ <small class="size-12 text-muted">20days remaining</small></p>
                    </div>
                    <div class="col-auto ps-0">
                        <button class="btn btn-default btn-44 shadow-sm" disabled>
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Direct bill -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Direct Bills</h6>
    </div>
</div>
<div class="row mb-1 justify-content-center">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">To: Maxartkiller.com</p>
                        <p class="text-muted small">Invoice ID: IDE0515416385</p>
                    </div>
                    <div class="col-auto">
                        <button routerLink="/sendmoney3" class="btn btn-default btn-44 shadow-sm">
                            <i class="bi bi-arrow-up-right-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-60 shadow-sm rounded-10 bg-danger text-white">
                                    <img src="assets/img/company3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col align-self-center ps-0">

                                <p class="mb-1 text-color-theme">Walmart
                                    <span
                                        class="tag bg-warning text-white border-warning py-1 px-2 float-end mt-1">Incomplete</span>
                                </p>

                                <div class="row">
                                    <div class="col">118.00</div>
                                    <div class="col-auto align-self-center text-end">
                                        <span class="text-muted size-12 ">Date: 18/07/2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Saving targets -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Saving Targets</h6>
    </div>
    <div class="col-auto">

    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="circle-small">
                            <div id="circleprogressone"></div>
                            <div class="avatar avatar-30 alert-primary text-primary rounded-circle">
                                <i class="bi bi-globe"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1 text-muted">USA Trip</p>
                        <p>60<span class="small">%</span></p>
                    </div>
                    <div class="col-auto align-self-center text-end ps-0">
                        <p class="small mb-1 text-muted">Auto Saving</p>
                        <p>130.00<span class="size-12 text-muted">/month</span></p>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <button class="btn btn-default btn-44 shadow-sm" disabled="">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="circle-small">
                            <div id="circleprogresstwo"></div>
                            <div class="avatar avatar-30 alert-success text-success rounded-circle">
                                <i class="bi bi-cash-stack"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1 text-muted">Car loan</p>
                        <p>85<span class="small">%</span></p>
                    </div>
                    <div class="col-auto align-self-center text-end ps-0">
                        <p class="small mb-1 text-muted">Auto Saving</p>
                        <p>145.00<span class="size-12 text-muted">/month</span></p>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <button class="btn btn-default btn-44 shadow-sm" disabled="">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>