<div class="row">
    <div class="col-auto">
        <button class="btn btn-light btn-44 back-btn"  (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col align-self-center text-center">
        <h5>Page Name</h5>
    </div>
    <div class="col-auto">
        <a routerLink="/notifications" routerLinkActive="active" target="_self" class="btn btn-light btn-44">
            <i class="bi bi-bell"></i>
            <span class="count-indicator"></span>
        </a>
    </div>
</div>