<!-- log information -->
<div class="row">
    <div class="col-12 col-md-8 col-lg-4 mx-auto">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h6 class="my-1">Log information 2</h6>
            </div>
            <div class="card-body bg-light">
                <ul class="list-group list-group-flush w-100 bubble-sheet log-information">
                    <li class="list-group-item">
                        <div class="avatar avatar-15 border-danger rounded-circle"></div>
                        <p><span class="text-color-theme">System updated</span>
                            <br><small class="text-muted">2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-warning rounded-circle"></span>
                        <p><span class="text-color-theme">New account Created</span>
                            <br><small class="text-muted">5:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-color-theme">Shutdown 2 hours</span>
                            <br><small class="text-muted">Yesterday | 2:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-primary rounded-circle"></span>
                        <p><span class="">System updated</span>
                            <br><small class="text-muted">Yesterday | 1:32 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-dark rounded-circle"></span>
                        <p><span class="">Actions changes done!</span>
                            <br><small class="text-muted">14 October 2021 | 2:02 am</small></p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-0">3:55 - 4:00 pm</h6>
                        <p class="text-muted small">Down time</p>
                    </div>
                    <div class="col-auto">
                        <h6 class="mb-0">2:65 min</h6>
                        <p class="text-muted small">Active hours</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h6 class="my-1">Log information</h6>
            </div>
            <div class="card-body bg-light">
                <ul class="list-group list-group-flush w-100 log-information">
                    <li class="list-group-item">
                        <div class="avatar avatar-15 border-danger rounded-circle"></div>
                        <p><span class="text-color-theme">System updated</span>
                            <br><small class="text-muted">2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-warning rounded-circle"></span>
                        <p><span class="text-color-theme">New account Created</span>
                            <br><small class="text-muted">5:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-color-theme">Shutdown 2 hours</span>
                            <br><small class="text-muted">Yesterday | 2:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-primary rounded-circle"></span>
                        <p><span class="text-color-theme">System updated</span>
                            <br><small class="text-muted">Yesterday | 1:32 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-dark rounded-circle"></span>
                        <p><span class="text-color-theme">Actions changes done!</span>
                            <br><small class="text-muted">14 October 2021 | 2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-secondary rounded-circle"></span>
                        <p><span class="text-color-theme">Actions changes done!</span>
                            <br><small class="text-muted">14 October 2018 | 2:02 am</small></p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-0">3:55 - 4:00 pm</h6>
                        <p class="text-muted small">Down time</p>
                    </div>
                    <div class="col-auto text-end">
                        <h6 class="mb-0">2:65 min</h6>
                        <p class="text-muted small">Active hours</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>