<!-- Blog/News Details banner -->
<div class="row">
    <div class="col-12 px-0">
        <div class="card mb-4 overflow-hidden shadow-sm theme-bg text-white rounded-0">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news3.jpg');">
                <img src="assets/img/banner.jpg" alt="" class="d-none">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col">
                        <span class="tag">Trending</span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-share"></i>
                        </button>
                        <button class="btn btn-success text-white btn-44 rounded-circle shadow-sm">
                            <i class="bi bi-bookmark"></i>
                        </button>
                    </div>
                </div>
                <br>
                <a routerLink="/blogdetails" class="h4 text-normal d-block text-white mb-2">Best Discovery ever in UX</a>
                <p class="text-muted">Published on: 26/12/2021</p>
                <div class="small d-flex">
                    <figure class="avatar avatar-36 rounded">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    <p class="mx-2">Alessia Monks<br><span class="text-muted">Author</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blogs/News Content  -->
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</p>

        <figure class="overflow-hidden rounded-15 text-center">
            <img src="assets/img/banner.jpg" alt="" class="mw-100 mx-auto">
        </figure>

        <h5 class="mb-3">Best class template with details</h5>
        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="row">
            <div class="col-6">
                <figure class="overflow-hidden rounded-15 text-center">
                    <img src="assets/img/news6.png" alt="" class="w-100 mx-auto">
                </figure>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 mb-2">
                        <figure class="overflow-hidden rounded-15 text-center">
                            <img src="assets/img/news4.jpg" alt="" class="w-100 mx-auto">
                        </figure>
                    </div>
                    <div class="col-12">
                        <figure class="overflow-hidden rounded-15 text-center">
                            <img src="assets/img/news3.jpg" alt="" class="w-100 mx-auto">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mb-2">Do share</h3>
        <h5 class="mb-3">Help us to get more</h5>
        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="card mb-4 overflow-hidden shadow-sm bg-danger text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news3.jpg');">
                <img src="assets/img/news3.jpg" alt="" class="d-none">
            </div>
            <div class="card-body">
                <br><br><br>
                <a routerLink="/blogdetails" class="h5 text-normal d-block text-white mb-2">Best Discovery ever in UX</a>
                <p class="text-muted">December 2021</p>
                <div class="small d-flex">
                    <figure class="avatar avatar-36 rounded">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    <p class="mx-2">Alessia Monks<br><span class="text-muted">Author</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mb-4 overflow-hidden shadow-sm bg-primary text-white">
                    <div class="overlay"></div>
                    <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news3.jpg');">
                        <img src="assets/img/news4.jpg" alt="" class="d-none">
                    </div>
                    <div class="card-body">
                        <br><br><br>
                        <a routerLink="/blogdetails" class="h6 text-normal d-block text-white mb-2">Best Discovery ever in UX</a>
                        <p class="text-muted">Upcoming</p>
                        <div class="small d-flex">
                            <figure class="avatar avatar-20 rounded">
                                <img src="assets/img/user2.jpg" alt="">
                            </figure>
                            <p class="ms-2">Alessia Monks</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 overflow-hidden shadow-sm bg-primary text-white">
                    <div class="overlay"></div>
                    <div class="coverimg h-100 w-100 position-absolute opacity-5" style="background-image: url('assets/img/news3.jpg');">
                        <img src="assets/img/news5.jpg" alt="" class="d-none">
                    </div>
                    <div class="card-body">
                        <br><br><br>
                        <a routerLink="/blogdetails" class="h6 text-normal d-block text-white mb-2">Best Discovery ever in UX</a>
                        <p class="text-muted">Published </p>
                        <div class="small d-flex">
                            <figure class="avatar avatar-20 rounded">
                                <img src="assets/img/user2.jpg" alt="">
                            </figure>
                            <p class="ms-2">Alessia Monks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="mb-3">Help us to get more</h5>
        <p class="text-muted mb-4">orem Ipsum is simply dummy text of the printing and typesetting
            industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</p>
       
    </div>
</div>

<!-- blog comments -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Comments</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-group form-floating  mb-3">
            <textarea class="form-control" placeholder="Name" id="comments"></textarea>
            <label for="comments">Your Comment</label>
        </div>
        <button class="btn btn-default btn-lg shadow-sm w-100">Post Comment</button>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div class="row py-3">
            <div class="col-auto position-relative">
                <figure class="avatar avatar-50 rounded-15">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col ps-0">
                <a routerLink="/profile" class="mb-1 text-normal d-block">Ajinkya McMohan <i class="bi bi-arrow-right-short text-primary"></i></a>
                <p class="small mb-3 text-muted ">
                    Purchased
                    <span class="float-end">
                        <span class="small">
                            Rating: 4
                        </span>
                        &nbsp;
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                    </span>
                </p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque
                    sollicitudin dignissim nisi, eget malesuada ligula ultricies sit amet.
                    Suspendisse
                    efficitur ex eu est placerat mattis.</p>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-auto position-relative">
                <figure class="avatar avatar-50 rounded-15">
                    <img src="assets/img/user2.jpg" alt="">
                </figure>
            </div>
            <div class="col ps-0">
                <a routerLink="/profile" class="mb-1 text-normal d-block">Jessica Willson <i class="bi bi-arrow-right-short text-primary"></i></a>
                <p class="small mb-3 text-muted ">
                    Business man
                    <span class="float-end">
                        <span class="small">
                            Rating: 2
                        </span>
                        &nbsp;
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                    </span>
                </p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque
                    sollicitudin dignissim nisi, eget malesuada ligula ultricies sit amet.
                    Suspendisse
                    efficitur ex eu est placerat mattis.</p>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-auto position-relative">
                <figure class="avatar avatar-50 rounded-15">
                    <img src="assets/img/user3.jpg" alt="">
                </figure>
            </div>
            <div class="col ps-0">
                <a routerLink="/profile" class="mb-1 text-normal d-block">Bhagat Chaturvedy <i class="bi bi-arrow-right-short text-primary"></i></a>
                <p class="small mb-3 text-muted ">
                    Reader
                    <span class="float-end">
                        <span class="small">
                            Rating: 3
                        </span>
                        &nbsp;
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                    </span>
                </p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque
                    sollicitudin dignissim nisi, eget malesuada ligula ultricies sit amet.
                    Suspendisse
                    efficitur ex eu est placerat mattis.</p>
            </div>
        </div>
    </div>
</div>