<!-- Pricing tables small -->
<div class="row justify-content-center">
    <div class="col-6 col-md-4">
        <div class="card mb-4 text-center shadow-sm">
            <div class="card-header bg-primary text-white">
                <h6 class="my-1">Basic</h6>
            </div>
            <div class="card-body">
                <i class="avatar avatar-60 bg-primary-light text-primary rounded-circle bi bi-heart fs-4 mb-3"></i>
                <h4 class="mb-0">$100 <small class="text-muted">/mo</small></h4>
                <p class="text-muted mb-3 small">per user</p>
                <p class="text-muted mb-0 small">
                    1 GB access
                    <br> No Contact list
                    <br> 10 transactopns
                </p>
            </div>
            <div class="card-footer text-center border-0">
                <button class="btn text-color-theme">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4 text-center shadow-sm">
            <div class="card-header bg-success text-white">
                <h6 class="my-1">Team</h6>
            </div>
            <div class="card-body">
                <i class="avatar avatar-60 bg-success-light text-success rounded-circle bi bi-people fs-4 mb-3"></i>
                <h4 class="mb-0">$1000 <small class="text-muted">/mo</small></h4>
                <p class="text-muted mb-3 small">10 users</p>
                <p class="text-muted mb-0 small">
                    10 GB access
                    <br> Unlimited Contacts
                    <br> 10 transactopns
                </p>
            </div>
            <div class="card-footer text-center border-0">
                <button class="btn text-color-theme">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<!-- Pricing tables -->
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card mb-4 text-center shadow-sm">
            <div class="card-body">
                <i class="avatar avatar-60 bg-success-light text-success rounded-circle bi bi-heart fs-4 mb-2"></i>
                <h5 class="text-muted mb-4">Basic</h5>
                <h2 class="mb-0">$100 <small class="text-muted">/mo</small></h2>
                <p class="text-muted mb-3">per user</p>
                <p class="text-muted mb-0">
                    1 GB access per day
                    <br> No Contact list
                    <br> 10 transactopns per day
                </p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-default btn-lg w-100">Buy Now!</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mb-4 text-center shadow-sm">
            <div class="card-body">
                <i class="avatar avatar-60 bg-warning-light text-warning rounded-circle bi bi-people fs-4 mb-2"></i>
                <h5 class="text-muted mb-4">Team</h5>
                <h2 class="mb-0">$1000 <small class="text-muted">/mo</small></h2>
                <p class="text-muted mb-3">10 users</p>
                <p class="text-muted mb-0">
                    10 GB access per day
                    <br> Unlimited Contact list
                    <br> 10 transactopns per day
                </p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-default btn-lg w-100">Buy Now!</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mb-4 text-center shadow-sm">
            <div class="card-body">
                <i class="avatar avatar-60 bg-danger-light text-danger rounded-circle bi bi-building   fs-4 mb-2"></i>
                <h5 class="text-muted mb-4">Company</h5>
                <h2 class="mb-0">$10000 <small class="text-muted">/mo</small></h2>
                <p class="text-muted mb-3">Unlimited Users</p>
                <p class="text-muted mb-0">
                    Unlimited access per day
                    <br> Unlimited Contact list
                    <br> 100 transactopns per day
                </p>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-default btn-lg w-100">Buy Now!</button>
            </div>
        </div>
    </div>
</div>