<!-- banner -->
<div class="row mb-4">
    <div class="col-12 text-center">
        <img src="assets/img/infographic-scan.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mb-4">
        <h1 class="mb-3 text-color-theme">Scan QR & Pay</h1>
        <p class="text-muted mb-3">Its instant and easy. There are 1500k sellers accept payment via
            FiMobile. To Scan Allow access
            to camera.</p>
        <button class="btn btn-default btn-lg mb-3 px-4 shadow-sm" data-bs-target="#cammodal"
            data-bs-toggle="modal">
            <i class="bi bi-camera mx-2"></i> Enable Camera
        </button>
        <p class="text-muted">Now you can also make payments for 100 other standard payment services.</p>
    </div>
</div>

<!-- offers banner -->
<div class="row mb-4">
    <div class="col-12">
        <div class="card bg-success text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col align-self-center">
                        <h1>12% OFF</h1>
                        <p class="size-12 text-muted">
                            On every bill pay, launch offer get 5% Extra
                        </p>
                        <div class="tag border-dashed border-opac">
                            BILLPAY12OFF
                        </div>
                    </div>
                    <div class="col-6 align-self-center ps-0">
                        <img src="assets/img/offergraphics-green.png" alt="" class="mw-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Camera Modal -->
<div class="modal fade" id="cammodal" tabindex="-1" aria-labelledby="cammodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xsm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="cammodalLabel">Give Permission</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="assets/img/infographic-camera.png" alt="" class="mb-4">
                <h3 class="text-color-theme mb-2">Camera Access</h3>
                <p class="text-muted">To scan QR code we need to access camera please allow app to access camera.
                </p>
            </div>
            <button type="button" class="btn btn-lg btn-primary rounded-15" data-bs-dismiss="modal">Allow</button>
        </div>
    </div>
</div>
<!-- Camera Modal ends-->