<!-- summary blocks -->
<div class="row">
    <div class="col-12 px-0">
        <swiper class="summayswiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                                    <i class="bi bi-star"></i>
                                </div>
                            </div>
                            <div class="col px-0">
                                <p class="text-muted size-12 mb-0">Bonus Points</p>
                                <p>48546 pts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 bg-success text-white shadow-sm rounded-10">
                                    <i class="bi bi-cash-stack"></i>
                                </div>
                            </div>
                            <div class="col px-0">
                                <p class="text-muted size-12 mb-0">Cashback</p>
                                <p>15 USD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 bg-primary text-white shadow-sm rounded-10">
                                    <i class="bi bi-controller"></i>
                                </div>
                            </div>
                            <div class="col px-0">
                                <p class="text-muted size-12 mb-0">Gameplay</p>
                                <p>105 coins</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 bg-info text-white shadow-sm rounded-10">
                                    <i class="bi bi-droplet"></i>
                                </div>
                            </div>
                            <div class="col px-0">
                                <p class="text-muted size-12 mb-0">Fuel</p>
                                <p>3 ltr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>

<!-- offers banner-->
<div class="row mb-4">
    <div class="col-12">
        <div class="card theme-bg text-white text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col align-self-center pe-0">
                        <h1>5% OFF</h1>
                        <p class="size-12 text-muted">
                            Just use coupon code while transaction & get cashback of 5% maximum 5 USD
                        </p>
                        <div class="tag border-dashed border-opac">
                            BILLPAY5OFF
                        </div>
                    </div>
                    <div class="col-6 align-self-center px-0">
                        <img src="assets/img/offergraphics.png" alt="" class="mw-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- offers -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Popular Offers</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper users connections -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">

            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company2-50.png" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">Flat 20%</p>
                        <div class="tag bg-warning border-warning text-white p-1">50 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company5.png" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">20% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">100 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company3.jpg" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">25% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">250 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company4.jpg" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">10% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">50 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company2-50.png" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">Flat 20%</p>
                        <div class="tag bg-warning border-warning text-white p-1">50 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company5.png" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">20% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">100 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company3.jpg" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">25% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">250 pts</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="avatar avatar-50 shadow-sm mb-2 rounded-10 theme-bg text-white">
                            <img src="assets/img/company4.jpg" alt="" class="" />
                        </div>
                        <p class="text-color-theme size-12 small mb-1">10% Off</p>
                        <div class="tag bg-warning border-warning text-white p-1">50 pts</div>
                    </div>
                </div>
            </ng-template>
        </swiper>

    </div>
</div>

<!-- rewards withdraw -->
<div class="row mb-1 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto">
                        <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                            <i class="bi bi-star"></i>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">Withdraw to account</p>
                        <p class="text-muted small">Get 1 USD for 100 points</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row mb-4 position-relative">
                            <div class="col pe-0">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control " id="amountpoints" placeholder="Points"
                                        value="48000">
                                    <label class="form-control-label" for="amountpoints">Points</label>
                                </div>
                            </div>
                            <div class="col align-self-center ps-0">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control text-end" id="amountcurrency"
                                        placeholder="Currency" value="480">
                                    <label class="form-control-label text-end pe-1 end-0 start-auto"
                                        for="amountcurrency">Receivable</label>
                                </div>
                            </div>
                            <button
                                class="btn btn-44 btn-success text-white shadow-sm position-absolute start-50 top-50 translate-middle">
                                <i class="bi bi-arrow-left-right"></i>
                            </button>
                        </div>
                        <h6 class="title mb-3">Withdraw to Account</h6>
                        <div class="row">
                            <div class="col-12 px-0">
                                <swiper class="cardswiper" [slidesPerView]="'auto'" [spaceBetween]="0"
                                    [pagination]="false">
                                    <ng-template swiperSlide>
                                        <div class="card dark-bg">
                                            <div class="card-body">
                                                <div class="form-check position-absolute end-0 bottom-0 m-1">
                                                    <input class="form-check-input rounded-circle" name="cardselect"
                                                        type="radio" id="card2">
                                                    <label for="card2" class="form-check-label"></label>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-auto align-self-center">
                                                        <img src="assets/img/masterocard.png" alt="">
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-uppercase size-10">Validity</span><br>
                                                            <span class="text-muted">06/25</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="fw-normal mb-2">
                                                            56040.00
                                                            <span class="small text-muted">USD</span>
                                                        </h4>
                                                        <p class="mb-0 text-muted size-12">10141 0021
                                                            0001 0154</p>
                                                        <p class="text-muted size-12">Debit Card</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-check position-absolute end-0 bottom-0 m-1">
                                                    <input class="form-check-input rounded-circle" name="cardselect"
                                                        type="radio" id="card1">
                                                    <label for="card1" class="form-check-label"></label>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-auto align-self-center">
                                                        <img src="assets/img/masterocard.png" alt="">
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-uppercase size-10">Validity</span><br>
                                                            <span class="text-muted">09/24</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="fw-normal mb-2">
                                                            150540.00
                                                            <span class="small text-muted">USD</span>
                                                        </h4>
                                                        <p class="mb-0 text-muted size-12">10141 0021
                                                            0001 0154</p>
                                                        <p class="text-muted size-12">Debit Card</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div class="card theme-radial-gradient ">
                                            <div class="card-body">
                                                <div class="form-check position-absolute end-0 bottom-0 m-1">
                                                    <input class="form-check-input rounded-circle" name="cardselect"
                                                        type="radio" id="card3">
                                                    <label for="card3" class="form-check-label"></label>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-auto align-self-center">
                                                        <i class="bi bi-wallet2"></i> Wallet
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-uppercase size-10">Validity</span><br>
                                                            <span class="text-muted">Unlimited</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="fw-normal mb-2">
                                                            100.00
                                                            <span class="small text-muted">USD</span>
                                                        </h4>
                                                        <p class="mb-0 text-muted size-12">10141 0021
                                                            0001 0154</p>
                                                        <p class="text-muted size-12">Debit Card</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </swiper>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-default shadow-sm w-100">
                    Withdraw
                </button>
            </div>
        </div>
    </div>
</div>
<!-- large discount block-->
<div class="row mb-1 justify-content-center">
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                            <img src="assets/img/company2-50.png" alt="" />
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">20<small>% Off</small></p>
                        <div class="tag bg-warning border-warning text-white py-1 px-2">50 pts</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-muted">minimum spend 1220 USD and maximum discount 240 USD</span>
                    <a href="">view details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                            <img src="assets/img/company4.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">60<small>% Off</small></p>
                        <div class="tag bg-warning border-warning text-white py-1 px-2">100 pts</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-muted">minimum spend 4520 USD and maximum discount 600 USD</span>
                    <a href="">view details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                            <img src="assets/img/company2-50.png" alt="" />
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">17<small>% Off</small></p>
                        <div class="tag bg-warning border-warning text-white py-1 px-2">250 pts</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-muted">minimum spend 1220 USD and maximum discount 480 USD</span>
                    <a href="">view details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="avatar avatar-40 bg-warning text-white shadow-sm rounded-10">
                            <img src="assets/img/company3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">55<small>% Off</small></p>
                        <div class="tag bg-warning border-warning text-white py-1 px-2">150 pts</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-muted">minimum spend 4520 USD and maximum discount 680 USD</span>
                    <a href="">view details</a>
                </p>
            </div>
        </div>
    </div>
</div>